@model ResponseViewModel<ResponsePagedList<PostListDTO>>
@{
    ViewData["Title"] = "My Posts";
}

@if (Model.Status == ResponseStatus.Success)
{

    var navBarViewModel = (NavbarViewModel)ViewBag.NavBarModel;


    <partial name="_SearchNavbar" model="@navBarViewModel" />

    if (Model.Content.List.Count() <= 0)
    {
        <partial name="_NoResults" />
    }
    else
    {
        <table class="table table-hover">
            <thead>
                <tr>
                <th scope="col">Title</th>
                <th scope="col">Type / Mood</th>
    
                <th scope="col">Votes / Comments</th>
                <th scope="col"></th>

                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col">Published</th>
                   
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Content.List)
                {
                    <tr>
                        <td>@item.Title</td>
                        <td>
                            <span class="badge rounded-pill @WebApp.Helpers.General.GetPillBadgeColor(item.PostType)">@item.MoodType @item.PostType</span>
                        </td>




                        <td>@item.Votes / @item.Comments</td>


                        <td>
                            <a class="btn btn-primary"
                               asp-area=""
                               asp-controller="Post"
                               asp-action="View"
                               asp-route-id="@item.Id">View</a>
                        </td>



                        <td>

                            <a class="btn btn-primary"
                               asp-area=""
                               asp-controller="Post"
                               asp-action="Edit"
                               asp-route-id="@item.Id">Edit</a>




                        </td>
                        <td>

                            <a class="btn btn-danger"
                               asp-area=""
                               asp-controller="Post"
                               asp-action="Delete"
                               asp-route-id="@item.Id">Delete</a>


                        </td>

                        <td>
                            @if (!item.IsPublished)
                            {
                                <a class="btn btn-danger"
                                   asp-area=""
                                   asp-controller="Post"
                                   asp-action="Publish"
                                   asp-route-id="@item.Id">Publish Now</a>
                            }
                            else
                            {
                                <span>Published  @WebApp.Helpers.General.ToFriendlyDate(item.PublishDate.Value)</span>

                            }
                        </td>




                    </tr>
                }

            </tbody>
        </table>


        <partial name="_Pager" model='new PagerViewModel{
                RecordsPerPage = Model.Content.RecordsPerPage,
                SearchKeyWord = Model.Content.SearchKeyWord,
                PageCount = Model.Content.PageCount,
                CurrentPage = Model.Content.CurrentPage,
                Action = "MyPosts",
                Controller = "Post"
                }' />

    }

}
else
{
    <partial name="_ErrorAlert" model="@Model.MessageList" />
}

